*, *::after, *::before{
	box-sizing: border-box;
}

[class^='col-']{
	float: left;
	padding: 0;
	text-align: left;
}

.col-1of10{
	width: 10%;
}


.col-2of10{
	width:  20%;
}


.col-3of10{
	width: 30%;
}

	
.col-4of10{
	width: 40%;
}


.col-5of10{
	width: 50%;
}


.col-6of10{
	width: 60%;
}


.col-7of10{
	width: 70%;
}


.col-8of10{
	width: 80%;
}


.col-9of10{
	width: 90%;
}


.col-10of10{
	width: 100%;
}

/*--*/

.col-1of4 {
	width: 25%;
}

.col-2of4 {
	width: 50%;
}

.col-3of4 {
	width: 75%;
}

.col-4of4 {
	width: 25%;
}

/*--*/

.col-1of3 {
  width: 33.3333%;
}

.col-2of3 {
  width: 66.6667%;
}

.col-3of3 {
  width: 100%;
}

/*--*/

.grid:after{
	content: "";
	display: block;
	clear: both;
}

/*Greater than 1860 - 116.25em*/
@media (min-width: 116.25em) {
  body {
    font-size: 2em;
  }

  #android {
    background: 
      url("../img/Android_Robot_100.png") 101% top no-repeat,
      linear-gradient(-135deg, yellowgreen, goldenrod 160%);
  }

  #IAT-235 figure {
    margin-bottom: 0.5em;
  }
}

/* Greater than 1420px - 88.75em */
@media (min-width: 88.75em) and (max-width: 116.24em) {
  body {
    font-size: 1.5em;
  }
}

/*960*/
@media (max-width: 60em) {
  .desktop section#EA-intro {
    background-position: 46%;
  }
}

/*868px*/
@media (max-width: 54.25em) {
  .col-8of10 {
    width: 100%;
  }
  .col-6of10 {
    width: 50%;
  }

  .col-4of10 {
    width: 100%;
    padding: 0 6em;
  }

  .col-3of10 {
  	width: 50%;
  }

  .col-1of10 {
    width: 0;
  }

  .story-container {
    max-width: 26em;
    margin: 1em;
  }

  .story-container h3 {
    margin-top: 0.5em;
  }

  .img-container {
    margin: 1em;
  }

  .desktop section#EA-intro {
    background-position: 57%;
  }

  .project-page section {
  	margin: 1em 2em;
  }

  section#EA-landing-page-project {
  	margin: 0;
  }

  .figure-block {
  	height: auto;
  }

  .positioning-container {
  	position: initial;
  }

  #CTS-story-1 .story-container img {
  	width: 50%;
  }

  #CTS-story-1 figure, #CTS-story-2 figure {
    margin: 1em 0;
  }

  .story-heading-solo {
  	height: 6em;
  	padding: 2em;
  }

  .final {
    height: 10em;
  }

  article.sypnosis {
    padding: 0 2em;
  }

}

/* 790px */ 
@media (max-width: 49.375em) {
  #p1 article p {
    max-width: inherit;
    position: inherit;
    transform: inherit;
  }

  #p1 article p:after {
    border: none;
  }

  #p3 {
    margin: 0 auto;
    text-align: center;
  }

  #p3 h2 {
    font-size: 5.6vw;
  }

  #p3 p {
    margin: inherit;
    text-align: inherit;
    max-width: 27em;
  }

  #p3 p#related-work {
    margin-left: inherit;
  }

  section#IAT-235 {
    background-image: 
      linear-gradient(
        rgba(173,216,230,0.2) 1px, 
        transparent 1px);
    background-size: 100% 2em;
  }
}

/* 711px */
@media (max-width: 44.4375em) {

  .col-6of10 {
    width: 100%;
    padding: 0 4em;
  }

  .col-3of10 {
    width: 100%;
    padding: 0 6em;
  }

	.col-1of4 {
		width: 100%;
	}

  /*footer*/
  .col-5of10 {
    width: 100%;
  }

  .contact-container {
    position: inherit;
  }

}

/* 604px */
@media (max-width: 37.75em) {
  /*(Nav Bar)*/
  .nav-home-items {
    float: none;
    text-align: center;
  }

  .nav-contact {
    display: none;
  }

  /*Project 1*/
  .col-6of10, .col-3of10, .col-4of10 {
    padding: 0;
  }
}


/* 525px */
@media (max-width: 32.8125em) {

  #intro #logo-name {
    max-width: 19em;
  }

  #CTS-header {
    height: 34em;
  }

  #CTS-header article h2 {
    font-size: 2em;
  }

  .story-heading-solo {
    display: table-cell;
    vertical-align: middle;
    height: 10em;
  }

  .story-container h3 {
    text-align: center;
  }

  #CTS-story-5 {
    padding: 2em 0;
  }

  #countdown-story-3 figure {
    margin: 3em 0;
  }

  .continue .cta-block {
    bottom: 1em;
  }

}

/*430px*/
@media (max-width: 26.875em) {
  body {
    font-size: 0.9em;
  }

  nav.me li {
    min-width: 3em;
    text-align: center;
  }

  #about-me {
    padding: 4em 2em;
  }

  #EA-intro figure, #IAT-235 figure {
    margin-left: 0;
    margin-right: 0;
  }

}


/*366px*/
@media (max-width: 22.75em) {
/*  body {
    font-size: 0.85em;
  }*/

  nav.me ul {
    font-size: 0.707em;
  }

  section#EA-landing-page-project, section#EA-countdown-project {
    height: 52em;
  }

  #CTS-story-3 {
    padding: 0em 2em;
    height: 30em;
    background-position: 22% 30%;
  }

  .final {
    height: 16em;
  }

  .continue .cta-block {
    right: 0;
  }

  .continue .next-item-block {
    right: 8em;
  }

  #countdown-header h2 {
    font-size: 2em;
  }

  .bonus-item {
    padding: 1em;
  }

}

/*500px max height*/
@media (max-height: 31.25em) {
  body {
    font-size: 0.8em;
  }
  #p1 article {
    max-width: 22em;
  }
}

