/* Border Box Model */
*, *::after, *::before {
  box-sizing: border-box;
}

/* Type */

body, textarea {
  font-family: 'Ubuntu', 'Maven Pro', Verdana, sans-serif;
  font-weight: lighter;
  color: #37444C;
  line-height: 2;
}

body {
  padding: 0;
  margin: 0;
}

/* Headings */

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em; 
  font-weight: bold;
}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font-small {font-size: 0.707em;}

.dark-bg {
  color: white;
}

figcaption {
  font-size: 0.8em;
}

/* Nav Styles */

nav.me {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

nav.me ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.nav-home-items, .nav-ea-items {
  float: left;
}

.nav-contact, .nav-ea-contact {
  float: right;
}

nav.me li {
  display: inline-block;
  padding: 1em 1em 0.6875em;
  border-bottom: 0.3125em solid transparent;
  margin: 0 .5em;
  min-width: 7em;
  text-align: center;

}

/* Links */

nav.me a {
  color: white;
}

nav.me a:link, nav.me a:visited, nav.me:active, nav.me:focus {
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
}

.img-link img {
  transform: scale(1);
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;

}

.img-link img:hover, .img-link img:focus {
  transform: scale(1.02);
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}

.img-link  {

}

.img-link:hover  {
  opacity: 1;
}



/* Buttons */
a.button {
  background-color: gold;
  color: white;
  padding: 0em 1em;
  font-size: 2em;
  text-decoration: none;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;

}

a.button:hover, a.button:focus {
  opacity: 1;
  padding-right: 0.5em;
  padding-left: 1.5em;
  background-color: rgba(255,215,0,0.75);
}

p.button-text {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.dark-bg p.button-text {
  color: white;
}


/* General Styles */

.center {
  text-align: center;
}

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

em {
  color: black;
  font-weight: bold;
}

.dark-bg em {
  color: white;
}


/* Animations */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* LAYOUT (SECTIONS) */
/*********************/



/* index.html (home) */


section#intro {
  position: relative;
  height: 250vh;
  background-image: radial-gradient(white, white, #DDD);
}

  #intro #logo-name {
    max-width: 24em;
    width: 100%;
    /*max-height: 40vh;*/
    max-height: 50vh;
  }

  #intro p {
    margin: 0 auto 0;
    max-width: 35em;
  }

  #intro em {
    font-size: 1.125em;
    font-weight: bold;
    font-style: normal;
  }

  .msg {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1em;
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .darr {
    width: 2em;
    color: white;
    background-color: gold;
  }

  #p1 {
    color: #666;
    -webkit-transform: translateY(13vh);
    transform: translateY(13vh);
  }

  .desktop #p1 {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1em;
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  #p1 article {
    max-width: 34em;
    padding: 1em;
    margin: 0 auto;
  }

  #p1 .hashtags {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: -1.5em;
  }

  #p1 .hashtags li {
    display: inline-block;
    margin: 0 0.5em;
    -webkit-animation: fadein 0.25s;
    animation: fadein 0.25s;
    opacity: 1;
  }

  #p1 .hashtags li:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  #p1 .hashtags li:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  #p1 .hashtags li:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  #p1 .hashtags li:nth-child(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }    

  #p1 article p {
    font-size: 0.8em;
    font-size: 1.85vh;
    margin-top: 1em;
    padding: 1em;
    background-color: #EEE;
    line-height: 1.45;
    opacity: 0;
    -webkit-animation: fadein 0.5s 1s forwards;
    animation: fadein 0.5s 1s forwards;
    border-radius: 2em 2em 2em 2em;
    max-width: 18em;
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(13em);
    transform: translateX(13em);
    z-index: -1;
  }

  #p1 article p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 3vh 11vh 3vh 0;
    border-color: transparent #EEE;
    display: block;
    width: 0;
    z-index: -1;
    margin-top: -8px;
    left: -3px;
    top: 96%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #p1 div {
    margin-top: -1em;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: fadein 0.5s 1s forwards;
    animation: fadein 0.5s 1s forwards;
  }

  #p1 span {
    color: #CCC;
  }

  #p1 #darr {
    width: 2em;
    color: white;
    background-color: gold;
  }

  .desktop #p2 {
    background: url("../img/logo-blur-cover2.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }

  #p3 {
    position: relative;
    width: 100%;
    max-width: 49em;
    opacity: 0;
    text-align: left;
  }

  .desktop #p3 {
    color: white;
  }

  #p3 h2 {
    font-weight: bold;
    margin-bottom: 2em;
  }

  #p3 h2 span {
    letter-spacing: 0.25em;
  }

  #p3 p {
    font-size: 1.1em;
    margin: 1em 0 0 0em;
    text-align:left;
    max-width: 33em;
  }

  #p3 p#related-work {
    color: goldenrod;
  }

  .desktop #p3 p#related-work {
    color: gold;
  }

/*--*/

/*Common Styles For Project Sections*/
/*--*/

header h2 {
  margin-top: 0.5em;
}

h5.project-header {
  margin-left: 1em;
}

article.sypnosis {
  position: relative;
  /*height: 15em;*/
  max-width: 38em;
  text-align: left;
  margin: 0 auto;
}

article.sypnosis p {
  color: #333;
  margin: 1.95em auto;
  font-size: 1.1em;
}

.cta-block {
  margin: 3em 0 1em;
  line-height: 1.45;
}

.hashtags {
  list-style: none;
  padding: 0;
  font-size: 0.8em;
  line-height: 1.45;
}

.continue {
  position: relative;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 3em;
  border-left: 2px solid #CCC;
  padding-left: 1em;
}

.continue .hashtag-block {
  display: inline-block;
}

.continue .next-item-block {
  position: absolute;
  bottom: 1em;
  right: 12em;
}

.continue .cta-block {
  position: absolute;
  right: 1em;
  bottom: 0.6em;
  margin: 0;
}

.cta-block>span {
  font-size: 4em;
}

/*--*/
section#EA-intro {
  border-top: 1px solid #CCC;
  background: url("../img/lbj-clearmask-opt.jpg");
  background-size: cover;
  background-position: 0% 50%;
  background-attachment: scroll;
}

  .desktop #EA-intro {
    background-attachment: fixed;
    background-position: 50%;
  }

  #EA-intro-wrap {
    padding: 5em 1em;
  }

  #EA-intro-wrap p {
    max-width: 28em;
    margin: 0 auto;
    /*color: #AFB4B8;*/
    color: #CCC;
  }

  #EA-intro.dark-bg {
    color: white;
  }

  #EA-article-wrap {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #EA-article-wrap>h4 {
    margin-bottom: 2em;
  }

  #EA-intro article {
    max-width: 37em;
    margin: 0 auto;
  }

  #EA-intro article p {
    max-width: 100%;
    text-align: left;
    font-size: 1.1em;
    color: #AFB4B8;
    color: #CCC;
  }

  img#ea-logo {
    max-width: 8em;
    margin-top: 2em;
  }

  img#preview-cts {
    width: 100%;
    max-width: 38em;
    box-shadow: 0 0 5px 3px #CCC;
  }


/*--*/
section#EA-landing-page-project {
  margin: 4em 0;  
}
  .figure-block {
    position: relative;
    width: 100%;
    height: 30em;
  }

  .positioning-container {
    position: absolute;
    bottom: 0;
    right: 1em;
  }

  .positioning-container>small {
    position: relative;
    top: 3.5em;
    color: #AFB4B8;
  }

  #EA-landing-page-project figure img {
    width: 100%;
    max-width: 37em;
    border: 1px dotted #EEE;
  }

/*--*/
section#IAT-235 {
  padding: 1em;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;

  background-color: #fff; 
  background-image: 
    linear-gradient(
      90deg, 
      transparent 10%, 
      rgba(255,192,203,0.5) 10%, 
      rgba(255,192,203,0.5) 10.2%, 
      transparent 10.2%),
    linear-gradient(
      rgba(173,216,230,0.2) 0.0625em, 
      transparent 0.0625em);

  background-size: 100% 2em;
}

  #siat-logo {
    max-width: 20em;
    width: 100%;
    opacity: 0.5;
  }

  #infodsn-header + figure {
    margin-top: 6em;
  }

  #iat-235-img {
    width: 100%;
    max-width: 723px;
    box-shadow: 0 0 5px 3px #CCC;
    z-index: 1;
  }


/*--*/

/*--*/
/*footer*/

#about-me {
  padding: 4em 10%;
  background-image: linear-gradient(135deg, #ddd, #888);
}

  #about-me.dark-bg {
    color: black;
  }

  #about-me span {
    font-size: 3em;
    color: white;
  }

  #about-me article {
    margin: 1em 2em;
    font-size: 0.8em;
    max-width: 41em;
  }

  #about-me article p {
    color: #37444C;
    font-size: 1em;
  }

  .about-container {
    position: relative;
  }

  .kp-about {
    margin-left: 2em;
  }

  .kp-about img {
    max-width: 4em;
  }

  .kp-about h2 {
    margin: 0 0 0 .2em;
    display: inline-block;
  }

  .contact-container {
    text-align: right;
    position: absolute;
    bottom: 0em;
    right: 2em;
  }

  .contact-icon {
    max-width: 3em;
    margin: 0 0.5em;
  }

/* bonus content */

#android {
  background: 
    url("../img/Android_Robot_100.png") 104% top no-repeat,
    linear-gradient(-135deg, yellowgreen, goldenrod 160%);
}

#baby-vs-dog {
  margin-top: 4em;
}

#caselet {
  margin-bottom: 4em;
}

#caselet h3>span {
  border-top: 1px solid gray;
  padding-top: 1em;
}

.bonus-item {
  padding: 1em 3em;
  margin: 0 auto;
  max-width: 53em;
}

.bonus-item div {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
}

.bonus-item a {
  color: black;
}

.bonus-item h3 {
  margin: 0;
}

.bonus-item ul, .bonus-item p {
  font-size: 0.8em;
}

.bonus-item figure {
  margin: 2em 0;
}

.bonus-item img {
  width: 100%;
  max-width: 35em;
}


#footer-spacer {
  height: 5em;
}


/*--*/
/*--*/

/* ea-cts.html */

hr {
  height: 1px;
  background-color: #CCC;
  border: none;
}

.project-page p {
  color: #878F94;
  font-size: 0.9em;
}

.project-page section {
  margin: 4em 2em;
}

.story-heading-solo {
  background-color: rgba(204, 204, 204, 0.15);
  height: 10em;
  padding: 4em;
}

.story-heading-solo h3 {
  margin: 0;
  text-align: center;
}

.story-container {

}

code {
  display: block;
  line-height: 3em;
  background-color: #EEE;
  word-wrap: break-word;
}

code.tab {
  padding-left: 3em;
}

section#CTS-header {
  position: relative;
  background: url("../img/fifa01-goalie.opt.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: scroll;
  height: 34em;
  color: white;
  margin: 0;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

  .desktop #CTS-header {
    background-attachment: fixed;
  }

  #CTS-header p, #CTS-story-3 p {
    color: #D7DADB;
  }

  #CTS-header .blue-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 204, 255, 0.15);
  }

  #CTS-header article {
    padding: 5em 1em;
  }

  #CTS-header figure {
    text-align: center;
  }

  #CTS-header header {
    text-align: center;
    padding: 1em;
    max-width: 37em;
    margin: 0 auto;
  }  

  #CTS-header #landing-page-ea-logo {
    width: 8em;
    height: 8em;
    margin-bottom: -2em;
  }

  #CTS-header em {
    font-size: 1.2em;
    font-weight: bold;
  }

  #CTS-story-1 .story-container img {
    width: 100%
  }

  #confluence {
    width: 100%;
  }

  .img-container img {
    border: 1px solid #CCC;
  }

  #CTS-story-2 #customers-img {
    width: 100%;
    border: none;
  }

  #CTS-story-3 {
    background: url("../img/24lynch-opt.jpg");
    background-size: cover;
    background-position: 70% 30%;
    margin: 0;
    padding: 3em 2em;
  }

  #CTS-story-4 {
    text-align: center;
  }

  #CTS-story-4 img {
    width: 100%;
  }

  #CTS-story-4 .mockup-container {
    padding: 1em;
    text-align: center;
  }

  .mockup-container img {
    border: 1px solid #AFB4B8;
  }


  #CTS-story-5 {
    background-color: rgba(204, 204, 204, 0.15);
    padding: 2em;
    margin: 0;
  }

  #CTS-story-5 figure {
    margin: 4em auto;
    max-width: 43.75em;
  }

  #CTS-story-5 img {
    width: 100%;
  }

/*--*/

nav.next-project {
  border-top:2px solid rgba(204, 204, 204, 0.25);
  padding: 4em 2em;
  font-weight: bold;
}




