body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:545px;
}
#u3 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:189px;
  width:228px;
  height:84px;
  font-family:'MyriadWebPro', 'Myriad Web Pro';
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:85px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:224px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:295px;
  width:64px;
  height:27px;
  font-family:'MyriadWebPro', 'Myriad Web Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:295px;
  width:64px;
  height:27px;
  font-family:'MyriadWebPro', 'Myriad Web Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:57px;
  top:300px;
  width:14px;
  height:16px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u11 {
  position:absolute;
  left:5px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
