body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:258px;
  top:109px;
  width:29px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:221px;
  width:242px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:281px;
  top:9px;
  width:31px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:75px;
  top:20px;
  width:150px;
  height:84px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:85px;
}
#u9 {
  position:absolute;
  left:8px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:257px;
  top:10px;
  width:24px;
  height:30px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
}
#u11 {
  position:absolute;
  left:5px;
  top:8px;
  width:17px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:234px;
  top:109px;
  width:24px;
  height:30px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
}
#u13 {
  position:absolute;
  left:5px;
  top:8px;
  width:17px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:217px;
  width:24px;
  height:30px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:31px;
}
#u15 {
  position:absolute;
  left:5px;
  top:8px;
  width:17px;
  word-wrap:break-word;
}
