body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:177px;
  top:220px;
  width:53px;
  height:35px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:156px;
  top:220px;
  width:14px;
  height:16px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5 {
  position:absolute;
  left:5px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
