body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:16px;
  top:506px;
  width:277px;
  height:22px;
  font-family:'MyriadWebPro', 'Myriad Web Pro';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:23px;
}
#u3 {
  position:absolute;
  left:10px;
  top:3px;
  width:265px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:422px;
  width:113px;
  height:84px;
  font-family:'Ubuntu', 'Ubuntu';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:85px;
}
#u5 {
  position:absolute;
  left:8px;
  top:28px;
  width:103px;
  word-wrap:break-word;
}
