body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1136px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1136px;
}

.u1 {
    position:absolute;
    left:2px;
    top:560px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../A2_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:32px;
    top:1012px;
    width:554px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:560px;
    height:50px;
}

.u3 {
    position:absolute;
    left:10px;
    top:6px;
    width:542px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../A2_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:18px;
    top:1051px;
    width:25px;
    height:29px;-webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);

}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:35px;
}

.u5 {
    position:absolute;
    left:-5px;
    top:6px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);-webkit-transform-origin: 17.5px 50%;
    -moz-transform-origin: 17.5px 50%;
    -ms-transform-origin: 17.5px 50%;
    transform-origin: 17.5px 50%;
}

